@model GulAhmedShop.Models.WomenDress

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>WomenDress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeasonDress.seasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonDress.seasonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dressName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dressName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dressId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
